<!doctype html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
    <title>Bienvenido</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <p>Lorem, ipsum dolor.</p>
        </div>
    </div>
</div>
</body>
</html>